*{
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background: linear-gradient( #92545a,#ab6c82, #685D79,#88454c,  #5a303f, #685D79, #475C7A);
   /* background-color: #cadfe6; */
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    
}


/* desktop nav section */
nav,
.nav-links{
    display: flex;
    background-color:#475C7A;
    
    }

nav {
    justify-content:space-around;
    align-items: center;
    
    position: fixed;
    z-index: 1000;
top: 0;
left: 0;
width: 100%;
}

.nav-links {
    gap: 20px;
    list-style: none;
    height: 50px;
    font-size: 15px;
    font-weight: 500;
    padding: 10px  10px;
    }

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-decoration-color: rgb(255, 251, 251);
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-color: rgb(0, 0, 0);
    
}
.logo{
    display: none;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

/* Home section */
#Home {
    margin-top: 50px;
    
  display: flex;
   flex-direction: column;
    padding: 30px; 
   align-content: center;
  align-items: left;
   margin-bottom:20px ;
}
 
 
.Lets-Work-Together {
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
    border:none;
    border-radius: 10px;
     cursor: pointer;
    margin-top: 20px;
    width:100px ;
    text-size-adjust: 16px;
   color: white;
   box-shadow: 0 4px 4px rgb(223, 220, 220);
   font-size: larger;
   
}
.Lets-Work-Together:Hover {
    transform:scale(1.1);
}


/* About Section */
.about-container {
    text-align: center;
    padding: 20px;
}
   

.about-image img {
    max-width: 250px;
      border-radius: 20%;
      margin: 20px 10px;
     }

     #About h2 {
        font-size: 30px;
     }   


     /* Skills section */
     .skills-section {
         padding: 20px;
        
     }


     .skills-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 20px 50px;
        justify-items: center;
        margin-bottom: 20px;
        padding: 0px 100px;
    }
    
    .skill-box {
        width: 200px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: large;
        box-shadow: 0 8px 8px #f5b38a;
        border-radius: 10px;
    }
    .skills-section h2 {
        margin-bottom: 20px;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    
    }


/* Project section */

.Explore-Projects {
    padding: 20px;
    text-align: center;
    
}

.Explore-Projects h2{
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.project-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    }

    .project-box {
        width: 200px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: larger;
        box-shadow: 0 8px 8px #f5b38a;
        border-radius: 15px;
        cursor: pointer;
        transition:0.2s;
    }
    .project-box:hover {
        transform:scale(1.1);
    }

/* blog section */
.main-content{
    margin: auto;
    padding: 30px;
}

.blog-image img {
    width: 300px;
   border-radius: 5%;
   height: 150px;
   border: rgb(185, 93, 147) 0.1rem solid;
   
   }
   .blog-post h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
   }
 .read-more{
    cursor: pointer;
    padding-bottom: 50px;
    text-size-adjust: 16px;
   color: rgb(231, 231, 231);
   box-shadow: 0 4px 4px rgb(255, 255, 255);
   font-size: larger;
   font-weight: bold;
   padding: 10px 10px;
 background-color: #3b1221;
 border-radius: 10px;
 text-decoration: none;
}


.blog-post p {
    line-height: 1.5;
    
}
     #Contact {
        justify-content: center;
        flex-direction: column;
        padding: 40px;
        align-items: center;
       align-content: center;
       text-align: center;
       }

        
        .contact-info-upper-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 10px;
            margin-top: 20px;
            align-content: center;
            margin: auto;
            padding: 2px;
            box-shadow: 0px 8px 8px  rgb(212, 145, 89);
            align-items: center;
            justify-content: center;
            background-color: #d4c8cc;
            width: 250px;
            height: 150px;
           
        }
        

        .contact-info-upper-container:hover {
            transform:scale(1.1);  }
        
        .contact-info-container {
            display: flex;
            align-items: center;
            align-content: center;
            gap:15px;
            justify-content: center;
            margin-bottom: 10px;
            
        }
        #Contact h1 {
        font-size: 27px;
        color: rgb(255, 251, 251);
        margin-bottom: 20px;
            }
    
            .contact-info-container a{
            color: rgb(0, 0, 0);
            align-content: space-around;
        }

     
           #Footer {
            height: fit-content;
            text-align:center;
         color: rgb(255, 255, 255);
           font-size: 17px;
           padding: 20px;
          }



